.img-tag {
    position: relative;
    background: no-repeat top / 100% auto;
    padding-bottom: calc(100%*180/320);

    &::before {
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        width: 91px;
        height: 25px;
        border-radius: 15px;
        font-size: 10px;
        background: #9ACC1E;

    }
}

.select-mark-chenge {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/chevron-down-solid.svg)
                 no-repeat 97% center/7% auto;
}