.img-tag {
    position: relative;
    background: no-repeat top / 100% auto;
    padding-bottom: calc(100%*180/320);

    &::before {
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        width: 91px;
        height: 25px;
        border-radius: 15px;
        font-size: 10px;
        background: #9ACC1E;

    }
}

.select-mark-chenge {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/chevron-down-solid.svg)
                 no-repeat 94% center/7% auto;
}

.introduction-title {
    font-size: 17px;
    letter-spacing: 1px;
    border-bottom: 1px solid #0D0015;
    color: $introduction-main-color;
    font-weight: normal;
    height: 26px;
    text-align: left;
    line-height: 29px;
}


@keyframes article-animate-big {
    0% {
        // transform: translateY(50px);
        margin-top: 50px;
    }
    100% {
        // transform: translateY(0px);
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes article-animate-min {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes main-log-big {
    100% {
        margin-top: 61px;
    }
}
@keyframes main-log-min {
    0% {
        margin-top: 61px;
    }
    100% {
        margin-top: 49px;
        margin-bottom: 56px;
        opacity: 1;
    }
}

@keyframes main-menu-big {
    100% {
        opacity: 1;
    }
}