$main-log-JIN: #9ACC1E;
$main-menu: rgb(122, 122, 122);
$main-text-color: #322739;
$date: #888888;
$content-border: #F2F2F2;
$introduction-main-color: #3A2F40;
$fotter-bg: #393542;
$footer-title-color: #9ACC1E;

