@import "setting";
@import "class";


@mixin  pc-small {
    @media (max-width: 1023px) {
        @content;
    }
}

@mixin tabled {
    @media (max-width: 767px) {
        @content;
    }
}




.post-img {
    flex: .53;
    // padding-bottom: 11.25%;
    padding-bottom: calc(33%*180/320);
    vertical-align: top;
    background: no-repeat top /100% auto;
    margin-right: 12px;       
    // background: red;                 
}   
.post-text {
    flex: 1;
    font-size: 13px;
    margin: 0;
    letter-spacing: .9px;
    line-height: 18px;
}     




body {
    margin: 0;
    font-family: 'Noto Sans Japanese', sans-serif;
}

#main {
    margin: 0 27px 31px 27px;
    @include pc-small() {
        margin: 0 11px 32px 8px;
    }
    @include tabled() {
        margin: 0 11px 29px 13px;
    }
    
    #main-log {
        margin: 49px 0 56px 0;
        text-align: center;
        font-size: 32.64px;
        letter-spacing: 2px;
        @media (min-width: 767px) {
            opacity: 0;
            margin-bottom: 44px;
            animation: main-log-min 2s .5s forwards;
        }
        @include tabled() {
            padding-left: 11px;
            margin: 49px 0 62px 0;
            font-weight: bold;
            animation: main-log-big 1s forwards;
        }
        a {
            color: $main-text-color;
            text-decoration: none;
            span {
                margin-right: .1%;
                color: $main-log-JIN;
            }
        }
    }

    #main-menu {
        margin-bottom: 39px;
        @media (min-width: 767px) {
            opacity: 0;
            animation: main-menu-big 2s .5s forwards;
        }
        @include tabled() {
            display: none;
        }
        ul {
            margin: 0 auto;
            width: 539px;
            li {
                position: relative;
                display: inline-block;
                vertical-align: top;
                letter-spacing: 2px;
                &:not(:last-child) {
                    margin-right: 38px;
                }
                &::after {
                    content: "";
                    display: inline-block;
                    width: 140%;
                    opacity: 0;
                    height: 5px;
                    border-top: 2px solid black;
                    position: absolute;
                    top: 40px;
                    right: -17%;
                    transition: .5s;
                }
                &:hover {
                    &::after {
                        display: inline-block;
                        opacity: 1;
                        top: 22px;
                        right: -17%;
                    }
                }

                a {
                    font-size: 13px;
                    color: $main-menu;
                    text-decoration: none;
                }
            }
        }
    }

    #main-content {
        display: flex;
        margin: 0 auto;
        max-width: 1141.33px;
        @include tabled() {
            display: block;
        }

    
        #article {
            flex: 2;
            // background: yellowgreen;
            @media (min-width: 767px) {
                opacity: 0;

                animation: article-animate-big 2s .5s forwards ;
            }
            @include tabled() {
                opacity: 0;
                animation: article-animate-min 1s .5s forwards;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
                tr {
                    display: flex;
                    &:not(:last-child) {
                        margin-bottom: 20px;
                        @include tabled() { margin-bottom: 14px;}
                    }
                    td {
                        flex: 0.8;
                        .content {
                            position: relative;
                            top: 0;
                            transition: .5s;
                            border-radius: 5px;
                            border: 1px solid #F2F2F2;
                            background: white;
                            box-shadow: 0 0 5px 0 $content-border;
                            height: calc(100% + 1px);
                            &:hover {
                                box-shadow: 0 0 20px 1px #dbdbdb;
                                top: -5px;
                            }
                            a {
                                display: inline-block;
                                text-decoration: none;
                                color: $main-text-color;
                                div {
                                    padding: 0 15px;
                                    p {
                                        margin: 16px 0 0 0;
                                        font-size: 17px;
                                        letter-spacing: 2px;
                                    }
                                    .p-margin1 { margin-bottom: 20px; 
                                        @include pc-small() { margin-bottom: 22px;}
                                        @include tabled() { margin-bottom: 16px;}
                                    }
                                    .p-margin2 { margin-bottom: 46px; 
                                        @include pc-small() { margin-bottom: 25px;}
                                        @include tabled() { margin-bottom: 15px;}
                                    }
                                    .p-margin8 { margin-bottom: 48px; 
                                        @include pc-small() { margin-bottom: 25px;}
                                        @include tabled() { margin-bottom: 13px;}
                                    }
                                    .p-margin9 { margin-bottom: 47px; 
                                        @include pc-small() { margin-bottom: 25px;}
                                        @include tabled() { margin-bottom: 14px;}
                                    }

                                    .p-margin3, .p-margin4, .p-margin5, .p-margin6, 
                                    .p-margin7, .p-margin10, .p-margin11, .p-margin12 {
                                        margin-bottom: 23px;
                                        @include pc-small() { margin-bottom: 25px;}
                                        @include tabled() { margin-bottom: 16px;}

                                    }

                                    small {
                                        float: right;
                                        margin-bottom: 4px;
                                        @include tabled() { margin: 0 11px 2px 0;}
                                    }

                                    @include pc-small() {
                                        p { 
                                            font-size: 14px; 
                                            letter-spacing: 0;
                                            margin-top: 14px;
                                            margin-left: 2px;
                                        }
                                        small { font-size: 12px;}
                                    }
                                    @include tabled() {
                                        padding: 0 9px;
                                        p {
                                            font-size: 12px;
                                            margin-top: 8px;
                                            letter-spacing: .7px;                                        }
                                        small {
                                            font-size: 10.4px;
                                        }
                                    }
                                }
                            }   
                            
                            .content-img {
                                @extend .img-tag;
                                @include pc-small() {
                                    &::before {
                                        line-height: 20px;
                                        width: 76px;
                                        height: 18px;
                                        border-radius: 15px;
                                        font-size: 8.5px;
                                    }
                                }
                                @include tabled() {
                                    &::before {
                                        font-size: 8px;
                                        top: 7px;
                                        left: 6px;
                                        line-height: 17px;
                                        width: 67px;
                                        height: 16px;
                                    }
                                }
                            }

                            #content-img1 {
                                background-image: url(../img/shutterstock_377522251-640x360.jpg);                                
                                &::before { content: "JINのデザイン";  }
                            }
                            #content-img2 {
                                background-image: url(../img/shutterstock_279275555-320x180.jpg);                                padding-bottom: calc(100%*180/320);
                                &::before { content: "JINのデザイン";}
                            }
                            #content-img3 {
                                background-image: url(../img/shutterstock_295702355-320x180.jpg);                                
                                &::before { content: "JINの特徴";  width: 70px; @include tabled(){ width: 52px;}}
                            }
                            #content-img4 {
                                background-image: url(../img/shutterstock_527675818-320x180.jpg);                                padding-bottom: calc(100%*180/320);
                                &::before { content: "JINのデザイン";}
                            }
                            #content-img5 {
                                background-image: url(../img/shutterstock_471769004-320x180.jpg);                                
                                &::before { content: "JINのデザイン";  }
                            }
                            #content-img6 {
                                background-image: url(../img/shutterstock_151174712-640x360.jpg);                                
                                &::before { content: "収益化機能";  width: 73px; @include tabled(){ width: 55px;}}
                            }
                            #content-img7 {
                                background-image: url(../img/shutterstock_285640730-640x360.jpg);                                
                                &::before { content: "JINのエディタ";  }
                            }
                            #content-img8 {
                                background-image: url(../img/shutterstock_288725276-640x360.jpg);                                
                                &::before { content: "JINの特徴"; width: 69px; @include tabled(){ width: 52px;} }
                            }
                            #content-img9 {
                                background-image: url(../img/shutterstock_229543828-640x360.jpg);                                
                                &::before { content: "収益化機能";  width: 74px; @include tabled(){ width: 55px;}}
                            }
                            #content-img10 {
                                background-image: url(../img/shutterstock_224637184-640x360.jpg);                                
                                &::before { content: "JINの特徴";  width: 70px; @include tabled(){ width: 52px;}}
                            }
                            #content-img11 {
                                background-image: url(../img/shutterstock_431592634-640x360.jpg);                                
                                &::before { content: "収益化機能";  width: 70px; @include tabled(){ width: 55px;}}
                            }
                            #content-img12 {
                                background-image: url(../img/shutterstock_252732910-640x360.jpg);                                
                                &::before { content: "収益化機能";  width: 70px; @include tabled(){ width: 55px;}}
                            }


                        }
                    
                        .content-flex-left {
                            margin-right: 11px;
                        }
                        .content-flex-right {
                            margin-left: 11px;
                            @include tabled() {
                                margin-left: 9px;
                            }
                        }
                    }
                    
                }
            }


            #paging {
                width: 100%;
                height: 50px;
                margin: 47px 0 0 0;
                text-align: center;
                span {
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    line-height: 40px;
                    text-align: center;
                    font-size: 13px;
                }
                span:nth-of-type(1) {
                    background: black;
                    color: white;
                }
                span:nth-of-type(2) {
                    position: relative;
                    top: 0;
                    background: white;
                    border: 1px solid $content-border;
                    cursor: pointer;
                    box-shadow: 0 1px 2px 0 $content-border;
                    transition: .5s;
                    &:hover {
                        top: -10px;
                        background: #86808A;
                        color: white;
                    }
                }
                @include tabled() {
                    margin: 31px 0 33px 0;
                    span {
                        width: 33px;
                        height: 33px;
                        line-height: 34px;
                    }
                }
            }
            
        }
        
        

        #introduction {
            flex: 0.92;
            // background: yellow;
            margin-left: 30px;

            @include tabled() {
                margin: 0;
            }
            
            > div {
                border-radius: 5px;
                border: 1px solid $content-border;
            }
            
            #theme-info {
                margin-bottom: 26px;
                @include tabled() {
                    border: none;
                    box-shadow: 0 0 0 1px $content-border, 
                    0 0 0 13px #fff, 
                    0 0 0 14px $content-border;
                    border-radius: 0;
                    padding-bottom: 3px;
                    margin: 0 20px 42px 19px;
                }
                
                h2 {
                    border-radius: 5px 5px 0 0;
                    background: black;
                    color: white;
                    height: auto;
                    text-align: center;
                    margin: 0;
                    font-size: 19px;
                    font-weight: normal;
                    padding: 9px 5px;
                    letter-spacing: 1px;
                    @include tabled() { border-radius: 0;}
                }
                #theme-info-img {
                    background: url(../img/demo_banner.png)
                                no-repeat center 60% / 88% auto;
                    padding-bottom: calc(100%*400/539);
                    
                    @include tabled() {
                        background: url(../img/demo_banner.png)
                                    no-repeat center 40% / 77% auto;
                        padding-bottom: calc(86.5%*400/539);

                    }
                }

                > p {
                    font-size: 14px;
                    margin: 14px 20px 21px 20px;
                    letter-spacing: .5px;
                    @include tabled() {
                        letter-spacing: 1.6px;
                        // margin-bottom: 20px;
                        margin: 12px 20px 20px 20px;
                    }
                }

                #theme-info-btn {
                    margin: 0 auto 19px auto;
                    width: 78%;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: white;
                    border-radius: 30px;
                    border: 3px double #e22255;
                    transition: .5s;
                    &:hover {
                        border: 3px double #E95980;
                        a p {
                            background: #E95980;
                        }

                    }
                    @include tabled() { margin-bottom: 16px;}
                    a {
                        text-decoration: none;
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                        display: inline-block;
                        p {
                            transition: .5s;
                            color: white;
                            font-size: 14.5px;
                            font-weight: bold;
                            letter-spacing: 0.5px;
                            display: block;
                            width: 100%;
                            height: 100%;
                            margin: 0;
                            border-radius: 30px;
                            background: #e22255;
                           &::before {
                                content: "\f138";
                                font-weight: 900;
                                font-family: "Font Awesome 5 Free";
                                font-size: 14px;
                                margin-right: 2px;
                            }
                        }
                    }
                }
            }

            #jin-info {
                margin-bottom: 20px;
                @include tabled() { margin-bottom: 26px;}
                #jin-img {
                    width: 112px;
                    height: 112px;
                    background: url(../img/shutterstock_451391740-150x150.jpg)
                                no-repeat center / 100% auto;
                    border-radius: 50%;
                    border: 1px solid $content-border;
                    box-shadow: 0 1px 1px 0 $content-border;
                    margin: 39px auto 0 auto;
                    transition: .4s;
                    &:hover {
                        background-size: 110%;
                    }
                    a {
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                    }
                    
                    @include pc-small() {
                        margin-top: 26px;
                    }
                    @include tabled() {
                        margin-top: 26px;;
                    }
                }

                > p:first-of-type {
                    font-size: 15px;
                    text-align: center;
                    margin: 8px 0 22px 0;
                    &::after {
                        content: "\AWordPress Template";
                        white-space: pre;
                        color: #c6c6c6;
                        font-size: 12px;
                    }
                    @include tabled() {
                        margin: 12px 0 10px 0;
                    }
                }

                > p:last-of-type {
                    font-size: 14px;
                    line-height: 21px;
                    letter-spacing: .5px;
                    margin: 0 36px 20px 35px;
                    @include tabled() {
                        letter-spacing: .2px;
                        margin: 0 22px 18px 22px;                    }
                }

                #jin-btn {
                    width: 38%;
                    height: 27px;
                    line-height: 27px;
                    text-align: center;
                    border-radius: 30px;
                    border: 3px double #aaa;
                    margin: 0 auto 27px auto;
                    font-size: 11px;
                    transition: .5s;
                    &:hover {
                        border: 3px double #C0C0C0;
                        a p {
                            background: #C0C0C0;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        display: inline-block;
                        width: 100%;
                        height: 100%;
                        border-radius: 30px;
                        p {
                            transition: .5s;
                            display: block;
                            width: 100%;
                            height: 100%;
                            border-radius: 30px;
                            background: #aaa;
                            margin: 0;
                        }
                    }

                    @include tabled() {
                        width: 45%;
                        margin-bottom: 7px;
                    }
                }

                #access {
                    width: 100%;
                    height: 88px;
                    background: #9ACC1E;
                    text-align: center;

                    p {
                        font-family: Arial;
                        text-align: center;
                        color: white;
                        padding: 20px 0 0 0;
                        font-size: 13px;
                        letter-spacing: 2px;
                        margin: 0 0 11px 0;
                        @include tabled() {
                            margin-bottom: 6px;
                        }
                    }
                    div {
                        span {
                            display: inline-block;
                            width: 32px;
                            height: 32px;
                            background: #ACD547;
                            border-radius: 1px;
                            line-height: 35px;
                            text-align: center;
                            transition: .3s;
                            &:hover {
                                transform: scale(1.1, 1.1);
                            }
                            a {
                                text-decoration: none;
                                color: white;
                                i {
                                    font-size: 17px;
                                }
                            }
                        }
                        span:not(:first-of-type) {
                            margin-left: 4px;
                        }
                    }
                }
            }

            #recent-post {
                margin-bottom: 17px;
                padding: 0 8%;
                @include tabled() { margin-bottom: 29px;}
                h2 {
                    @extend .introduction-title;
                    margin: 8% 0 26px 0;

                    @include tabled() {
                        margin: 13px 16px 25px 17px;
                    }

                }
                > a > div { 
                    display: flex; 
                    @include tabled() {
                        margin-bottom: 18px;
                        padding: 0 2.5%;
                    }
                }

                a > div > .post-img {
                    @include tabled() {
                        flex: .65;
                        padding-bottom: calc(38%*180/320);
                        margin-right: 28px;
                    }
                }
                a > div > .post-text {
                    @include tabled() {
                        margin-top: 4px;
                    }
                }
                p { transition: .4s;}
                a:hover div p {
                    color: #E22255;
                }
                a:not(:last-of-type) > div {
                    margin-bottom: 20px;
                    @include tabled() {
                        margin-bottom: 18px;
                    }
                }
                a:last-of-type > div {
                    margin-bottom: 40px;
                    @include pc-small() {
                        margin-bottom: 15px;
                    }
                    @include tabled() {
                        margin-bottom: 24px;
                    }
                }
                a {
                    text-decoration: none;
                    color: $introduction-main-color;
                }

                .post-name1 {
                    background-image: url(../img/shutterstock_377522251-320x180.jpg);
                }                    
                .post-name2 {
                    background-image: url(../img/shutterstock_279275555-320x180.jpg);
                }                    
                .post-name3 {
                    background-image: url(../img/shutterstock_295702355-320x180.jpg);
                }                    
                .post-name4 {
                    background-image: url(../img/shutterstock_527675818-320x180.jpg);
                }                    
                .post-name5 {
                    background-image: url(../img/shutterstock_471769004-320x180.jpg);
                }                    
            
            }

            #category {
                text-align: center;
                margin-bottom: 20px;
                @include tabled() {
                    margin-bottom: 28px;
                }
                h2 {
                    @extend .introduction-title;
                    margin: 9% 29px 16px 28px;                    // font-size: 17px;
                    @include tabled() {
                        margin: 12px 16px 14px 17px;
                        letter-spacing: .4px;
                    }
                }
                select {
                    @extend .select-mark-chenge;
                    display: block;
                    background-color: #F6F6F6;
                    width: 85%;
                    height: 40px;
                    margin: 0 auto 29px auto;
                    color: #9C9C9C;
                    padding-left: 8px;
                    outline: 0;
                    border: none;
                    @include pc-small() { margin-bottom: 15px;}
                    @include tabled() {
                        width: 95%;
                        height: 42px;
                        background-position: 98% center;
                        background-size: 2% auto;
                        font-size: 15px;
                        letter-spacing: 1px;
                        line-height: 42px;
                    }
                }

            }

            #tag {
                margin-bottom: 20px;
                @include tabled() { margin-bottom: 27px;}
                h2 {
                    @extend .introduction-title;
                    margin: 8% 30px 15px 28px;
                    @include tabled() {
                        margin: 14px 15px 16px 17px;
                    }
                }

                div {
                    margin: 0 29px 27px 29px;
                    a:not(:nth-of-type(9), :nth-of-type(10)) span {
                        margin-bottom: 6px;
                    }
                    @include pc-small() { margin-bottom: 15px;}
                    @include tabled() {
                        margin: 0 18px 12px 17px;
                    }
                    a {
                        text-decoration: none;
                        color: $introduction-main-color;
                        span {
                            white-space: nowrap;
                            display: inline-block;
                            height: 24px;
                            line-height: 27px;
                            text-align: center;
                            background: #F6F6F6;
                            font-size: 11px;
                            padding: 0 8px;
                            margin-right: -1px;
                            border-radius: 2px;
                            transition: .5s;
                            &:hover {
                                background: #0D0015;
                                color: white;
                            }  
                            &::before {
                                content: "\f02b";
                                font-weight: 900;
                                font-family: "Font Awesome 5 Free";
                                font-size: 8px;
                                margin-right: 3px;
                            }

                            @include tabled() {
                                margin-right: 1px;
                                font-size: 10px;
                                line-height: 28px;
                            }
                        }
                    }
                }
            }

            #search {
                position: relative;
                margin-bottom: 16px;
                @include tabled() {
                    margin-bottom: 27px;
                }
                h2 {
                    @extend .introduction-title;
                    margin: 7% 29px 15px 29px;
                    @include tabled() {
                        margin: 13px 16px 15px 17px;
                    }
                }
                
                input {
                    margin: 0 0 9% 8%;
                    width: 82%;
                    height: 30px;
                    line-height: 30px;
                    font-size: 15px;
                    border-radius: 20px;
                    outline: 0;
                    border: 2px solid #a7a7a7;
                    @include pc-small() { 
                        margin-bottom: 15px;
                    }
                    @include tabled() {
                        margin: 0 0 15px 17px;
                        width: 95%;
                        height: 27px;
                        line-height: 27px;
                    }
                }

                span {
                    display: inline-block;
                    position: absolute;
                    right: 11%;
                    top: 56%;
                    width: 17px;
                    height: 19px;
                    font-size: 16px;
                    cursor: pointer;
                    color: #a7a7a7;
                    @include pc-small() {
                        top: 61%;
                        right: 12%;
                    }
                    @include tabled() {
                        top: 60%;
                        right: 4.5%;
                    }
                }
            }

            #recommend {
                padding: 0 8%;

                h2 {
                    @extend .introduction-title;
                    margin: 9% 0 26px 0;
                    @include tabled() {
                        margin: 13px 0 26px 0;
                    }
                }
                a  {
                    text-decoration: none;
                    color: $introduction-main-color;
                    transition: .5s;
                }
                a:hover {
                    color: #E22255;
                }
                > a > div {
                    display: flex;
                    margin-bottom: 38px;
                    @include pc-small() { margin-bottom: 15px;}
                    @include tabled() {
                        margin-bottom: 25px;
                        padding: 0 16px;
                    }
                } 

                a > div > .post-img {
                    flex: .53;
                    padding-bottom: calc(37%*180/320);
                    margin-right: 11px;

                }
                .re-post-name {
                    background-image: url(../img/shutterstock_204195961-320x180.jpg);
                }
                .post-text { 
                    letter-spacing: 1.5px;
                    @include tabled() {
                        letter-spacing: 1px;
                        margin-top: 3px;
                    }
                }
            }
        }
    }
}


footer {
    background: $fotter-bg;
    padding-top: 39px;
    color: white;
    #footer-menu {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        @include tabled() {
            display: block;
        }

        #ft-jin {
            flex: 0.8;
            // background: rgb(88, 30, 247);
            text-align: left;
            #ft-jin-img {
                background: url(../img/logo_white@2x.png)
                            no-repeat center 83%/ 123px;
                height: 79px;
            }
            p {
                line-height: 25px;
                font-size: 14px;
                &:first-of-type {
                    margin: 20px 27px 0 30px;
                    @include tabled() {
                        margin: 38px 0 0 15px;
                        letter-spacing: 1.7px;
                    }
                }
                &:last-of-type {
                    margin: 13px 27px 28px 30px;
                    @include tabled() {
                        margin: 14px 27px 27px 18px;
                        letter-spacing: 2px;
                    }
                }
            }
            #ft-jin-btn {
                width: 70%;
                // height: 40px;
                line-height: 21px;
                border-radius: 60px;
                text-align: center;
                font-size: 14px;
                background: #E22255;
                margin: 0 auto;
                padding: 10px 0;
                @include tabled() { width: 76%;}
                    a{
                        text-decoration: none;
                        color: white;
                        display: inline-block;
                        border-radius: 20px;
                        padding: 0 20px;
                        &::before {
                            content: "\f138";
                            font-weight: 900;
                            font-family: "Font Awesome 5 Free";
                            font-size: 14px;
                            margin-right: 5px;
                        }
                    }
            }

            #ft-tag {
                margin-top: 83px;
                padding: 0 10% 49px 28px;
                @include tabled() {
                    margin: 86px 0 45px 0;
                    padding: 0 13px 0 17px;
                }
                h2 {
                    font-size: 14px;
                    font-weight: normal;
                    margin-bottom: 13px;
                    &::before {
                        display: inline-block;
                        width: 5px;
                        height: 20px;
                        content: "";
                        background: $footer-title-color;
                        margin-right: 10px;
                        vertical-align: -5px;
                    }

                    @include tabled() {
                        border-bottom: 2px solid #9ACC1E;
                        height: 31px;
                        font-size: 15px;
                        line-height: 17px;
                        letter-spacing: 2px;
                        &::before {
                            display: none;
                        }
                    }
                }
                #ft-tag-content {
                    a {
                        text-decoration: none;
                        color: white;
                        span {
                            white-space: nowrap;
                            display: inline-block;
                            height: 24px;
                            line-height: 22px;
                            text-align: center;
                            font-size: 8px;
                            padding: 0 10px;
                            margin-right: -1px;
                            border-radius: 2px;
                            background: rgba(255, 255, 255, 0.25);
                            transition: .5s;
                            &:hover {
                                background: #190D21;
                                color: white;
                            }
                            &::before {
                                content: "\f02b";
                                font-weight: 900;
                                font-family: "Font Awesome 5 Free";
                                font-size: 8px;
                                margin-right: 3px;
                            }

                            @include tabled() {
                                height: 21px;
                                line-height: 22px;
                                margin-bottom: 7px;
                                background: none;
                                font-size: 9px;
                                letter-spacing: .5px;
                            }
                        }
                    }
                }
            }
        }
        #ft-category, #ft-archives, #pc-small-ft-archives {
            flex: 0.4;
            // background: pink;

            #ft-category div,
            #ft-archives div,
            & {
                margin-left: 17px;
                dt {
                    font-size: 15px;
                    margin: 0 0 18px 0;
                    letter-spacing: 1px;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 4px;
                        height: 20px;
                        background: $footer-title-color;
                        margin-right: 9px;
                        vertical-align: -4px;
                    }
                    
                    @include tabled() {
                        border-bottom: 2px solid #9ACC1E;
                        height: 31px;
                        font-size: 15px;
                        line-height: 17px;
                        letter-spacing: 2px;
                        margin-bottom: 29px;
                        &::before {
                            display: none;
                        }
                    }
                }
                dd {
                    position: relative;
                    left: 0;
                    font-size: 12px;
                    margin: 0 0 13px 0;
                    transition: .5s;
                    &:hover {
                        left: 10px;
                    }
                    a {
                        text-decoration: none;
                        color: white;
                        &::before {
                            content: "\f105";
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            font-size: 12px;
                            margin: 0 7px 0 4px;
                        }
                    }

                    @include tabled() {
                        font-size: 13px;
                        margin: 16px 12px 0px 0px;
                        height: 33px;
                        a { 
                            display: block;
                            height: 34px;
                            &::before {
                                content: "\f138";
                                margin-left: 10px;
                            }
                        }
                    }
                }

                @include tabled() {
                    dd:not(:last-child) {
                        border-bottom: 1px solid white;
                    }
                }
            }


        }
        #pc-small-ft-archives {
            display: none;
            flex: none;
            margin: 53px 0 0 0;
            @include pc-small() {
                display: block;
            }
            @include tabled() {
                margin: 36px 0 41px 0;
            }
        }
        #ft-archives {
            flex: 0.4;
            // background: skyblue;
            div {
                margin-left: 28px;
                @include pc-small() {
                    display: none;
                } 
            }
        }
        #ft-popular-post {
            flex: 1;
            // background: orange;
            > div {
                margin-left: 39px;
                @include tabled() {
                    margin-left: 17px;
                }
                h2 {
                    margin: 0 0 18px 0;
                    font-weight: normal;
                    font-size: 16px;
                    &::before {
                        content: "";
                        display: inline-block;
                        width: 4px;
                        height: 20px;
                        background: $footer-title-color;
                        margin-right: 9px;
                        vertical-align: -4px;
                    }
                    @include tabled() {
                        font-size: 17px;
                        letter-spacing: .8px;
                        margin-bottom: 25px;
                        height: 35px;
                        &::before { display:  none;}
                    }
                }
                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                    width: 100%;
                    tr {
                        display: flex;
                        margin-bottom: 18px;
                        @include tabled() {
                            margin-bottom: 19px;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                        }

                        td:first-child {
                            flex: .45;
                            // background: yellowgreen;
                            div {
                                position: relative;
                                margin: 0;
                                padding-bottom: calc(100%*180/320);
                                background: no-repeat center center/100%;
                                &::before {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 20px;
                                    height: 20px;
                                    line-height: 20px;
                                    text-align: center;
                                    font-size: 11px;
                                    background: $footer-title-color;
                                }
                            }

                            @include tabled() {
                                flex: 1px;
                            }
                        }
                        td:last-child {
                            flex: 1;
                            // background: skyblue;
                            a {
                                display: block;
                                width: 100%; height: 100%;
                            }
                            p {
                                margin: 1px 11% 0 6%;
                                font-size: 14px;
                                line-height: 19px;
                            }

                            @include tabled() { 
                                flex: 1.7;
                                p {
                                    margin: 5px 5% 0 6%;
                                }
                            }
                        }

                        #ft-pp-img1 {
                            background-image: url(../img/shutterstock_377522251-320x180.jpg);
                            &::before { content: "1";}
                        }
                        #ft-pp-img2 {
                            background-image: url(../img/shutterstock_279275555-320x180.jpg);
                            &::before { content: "2";}
                        }
                        #ft-pp-img3 {
                            background-image: url(../img/shutterstock_204195961-320x180.jpg);
                            &::before { content: "3";}
                        }
                    }

                    tr:last-child {
                        @include tabled() {
                            margin-bottom: 74px;
                        }
                    }
                }
            } 
        }
    }


    #footer-bottom {
        height: 47px;
        line-height: 47px;
        text-align: center;
        color: white;
        border-top: 1px solid white;
        small {
            font-size: 12px;
        }
    }
    
}


#top-return {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    line-height: 53px;
    text-align: center;
    color: white;
    font-size: 42px;
    background: #393542;
    border-radius: 50%;
    cursor: pointer;
    @include tabled() {
        right: 20px;
        bottom: 125px;
        width: 43px;
        height: 43px;
        line-height: 45px;
        font-size: 27px;
    }
}